<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header" />

<body>
	<!-- <div th:replace="common/navbar :: common-navbar"></div> -->

	<div class="container-fluid">
		<div id="standUp">
			<br />
			<div><div id="myProgress"><div class="morning_Timer" id="myBar"><div id="progressTimer" class="morningTime"></div></div></div></div>
			<div class="error alert alert-danger"></div>
			<div class="tbl-header">
				<table cellpadding="0" cellspacing="0" border="0">
					<thead>
						<tr>
							<th>Employee Name</th>
							<th>Today's Tasks</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="tbl-content" id="employeeTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<tbody>
					</tbody>
				</table>
			</div>
		</div>

		<div id="eveningScrum">
			<br />
			<div><div id="_myProgress"><div class="evening_Timer" id="_myBar"><div id="_progressTimer" class="eveningTime"></div></div></div></div>
			<br />
			<div class="error alert alert-danger"></div>
			<div class="tbl-header">
				<table cellpadding="0" cellspacing="0" border="0">
					<thead>
						<tr>
							<th>Employee Name</th>
							<th>Today's Tasks</th>
							<th>Task Status</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="tbl-content" id="tasksTable">
				<table cellpadding="0" cellspacing="0" border="0">
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>


	<div align="center">
		<div id="popup_box" class="drop-shadow raised">
			<br /> <br />
			<div>
				Employee Name : <input type="text" id="name" disabled="true" />
			</div>
			<div>
				Today's Tasks : <input type="text" id="task" disabled="true" />
			</div>
			<div>
				 <input type="hidden" id="status" disabled="true" />
			</div>
			<input type="text" id="reason"
				placeholder="Enter reason for tasks Incompletion" /> <input
				type="hidden" id="time" /> <input type="hidden" id="date" />

			<div>
				<button type="button" id="reasonSubmit">Save</button>
			</div>
			<input type="button" id="cancel_button" value="X" /> <br /> <br />
		</div>
	</div>

	<div align="center">
		<div id="message_box" class="drop-shadow raised"></div>
	</div>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<div th:replace="common/header :: before-body-scripts" />

</body>
</html>
